# Day4 (6월 1일)
### 학습목표:
    * numpy 모듈의 선형대수, 난수발생 메소드에 대해 배운다.
    * pandas의 Series, DataFrame, Index 객체에 대해 배우고 
      생성하는 다양한 방법을 배운다.
    * pandas의 reindex, drop 메소드를 익힌다.
### 과제:
    * score.csv를 pandas의 DataFrame 객체로 읽어들여서 reindex 메소드를 
      사용하여 객관식 답안 부분만 분리한 DataFrame 객체를 생성한다.
    * 문제별 오답율을 마지막 칼럼으로 추가한다.
    * matplotlib으로 오답율 칼럼을 plot 해본다.
    * 표 5-1의 다양한 입력데이터로 DataFrame을 생성해 본다. 
    
    * 결과물: 
        Jupyter Notebook의 html 파일을 본인의 GitHub에 올릴 것.
        예) 백설희_과제04_filename.html

In [95]:
from pandas import Series, DataFrame
import pandas as pd

In [96]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt

In [ ]:
'c:/AIPython_2/python_score.csv'

In [100]:
df = pd.read_csv('c:/AIPython_2/python_score.csv',names = ['Student1','Student2','Student3','Student4','Student5','Student6','Student7','Student8','Student9','Student10','Answer'])
df

,Student1,Student2,Student3,Student4,Student5,Student6,Student7,Student8,Student9,Student10,Answer
0,3,3,4,3,3,3,3,3,3,3,3
1,4,4,4,4,4,3,4,4,2,2,4
2,1,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,2,1,1
4,2,2,3,2,4,2,2,4,4,2,2
5,2,4,2,4,2,2,2,2,4,2,2
6,1,1,1,1,1,1,1,1,1,1,1
7,4,4,4,4,4,4,4,4,4,4,4
8,4,4,4,4,4,4,4,4,4,2,4
9,2,2,2,2,2,2,2,2,2,2,2
10,4,3,4,4,2,4,4,4,4,4,4
11,3,3,3,2,3,3,3,3,3,3,3
12,3,3,3,3,3,3,3,3,3,3,3
13,3,2,3,3,3,3,1,3,3,3,3
14,2,2,4,2,2,2,2,2,2,2,2
15,2,2,2,1,1,2,2,2,2,2,2
16,1,1,1,1,1,1,1,1,2,1,1
17,2,2,2,2,2,2,2,2,4,2,2
18,2,2,4,2,2,2,2,2,2,2,2
19,2,1,2,4,4,2,3,2,1,3,2
20,9,4,10,9,6,8,10,7,6,9,10
21,5,7,8,5,7,8,6,8,9,10,10

In [101]:
answer= df['Answer']
answer

0      3
1      4
2      1
3      1
4      2
5      2
6      1
7      4
8      4
9      2
10     4
11     3
12     3
13     3
14     2
15     2
16     1
17     2
18     2
19     2
20    10
21    10
Name: Answer, dtype: int64