# Day6 (6월 5일)
* 학습목표: 
    * 텍스트 파일, 데이터베이스, 웹 등 다양한 데이터 소스로부터 데이터를 수집하고 분석할 수 있도록 준비한다.
* 과제:
    * 과제 1
        * concrete.csv의 각 열의 데이터를 zscore 표준화하는 zscore_standize 함수를 정의하고 이를 적용한 결과를 zs_concrete에 대입하라.
        * concrete.csv의 각 열의 데이터를 최소-최대 정규화하는 minmax_normalize 함수를 정의하고 이를 적용한 결과를 mm_concrete에 대입하라.
        * 3. 1과 2에서 정규화한 데이터를 시각화하라.
    * 과제 2
        * concrete_na.csv를 읽어들여 DataFrame 객체 c2를 만든다.
        * c2에서 누락 값을 처리하여 zscore_standize를 적용한 zsc2를 생성한다.
        * c2에서 누락 값을 처리하여 minmax_normalize를 적용한 mmc2를 생성한다.

In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)
from scipy.stats import zscore
import sys

In [2]:
from IPython.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [3]:
c1 = pd.read_csv('c:/AIPython_2/concrete.csv')

In [7]:
def zscore_standize2(x):
    return Series([x.min(), x.max(), x.mean(), x.std()], index=['min', 'max', 'mean', 'std'])

In [8]:
ts1=c1.apply(zscore_standize2)
ts1

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742

In [9]:
def zscore_standize(x):
    series_mean = Series(np.ones(x.size)*x.mean())
    series_std =  Series(np.ones(x.size)*x.std())
    series_result = (x- series_mean)/series_std   
    return series_result

In [10]:
zs_cement = c1.apply(zscore_standize)
zs_cement.head(2)

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,-1.338367,1.600663,-0.846733,1.027091,-1.038638,-0.014391,-0.312818,-0.279597,-0.354846
1,-1.074268,-0.367363,1.095546,-1.089587,0.769244,1.387467,0.282123,-0.501222,-0.736750

In [13]:
zs_cement2 = DataFrame(zscore(c1), columns = c1.columns)
zs_cement2.head(2)

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,-1.339017,1.601441,-0.847144,1.027590,-1.039143,-0.014398,-0.31297,-0.279733,-0.355018
1,-1.074790,-0.367541,1.096078,-1.090116,0.769617,1.388141,0.28226,-0.501465,-0.737108